@charset "UTF-8";

/*
    PALETA DE CORES
    CINZA CLARO: 
    AZUL CLARO: #b5d3ff;
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0xp;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #a5c4ff;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #d6e4ff;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);
    transform: translate(-50%, -50%);
    transition: width 0.8s, height 0.4s;
}

section#login > div#imagem{
    display: block;
    background: #c7ddfd url(../img/jokas.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 220px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 8px;
    color: #1d3cc9;
}

div#formulario > p {
    text-align: center;
    font-size: 0.8em;
    color: #1d3cc9;
    margin-bottom: 10px;
}

form > div.campo  {
    background-color: rgba(4, 0, 255, 0);
    display: block;
    width: 100%;
    height: 34px;
    margin: 5px 0px;
    border-radius: 5px;

}

div.campo > label {
    display: none;
}

div.campo > i {
    color: #264eff;
    background-color: #ff000000;
    font-size: 2em;
    transform: translateY(-5px);
    width: 40px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    height: 100%;
    border-radius: 5px;
    width: calc(100% - 45px);
    transform: translateY(-14px);
}

form > input[type=submit] {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(26, 145, 72);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color:rgb(33, 177, 88) ;
}

form > a.cadastro {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-top: 3px;
    text-align: center;
    background-color: #264eff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

form > a.cadastro:hover {
    background-color: #1d3cc9;
}

form > a.botao {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    height: 40px;
    color: rgb(0, 89, 255);
    border: none;
    border-radius: 5px;
}