@charset "UTF-8";

/*  PARA TABLETS  */ 
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, rgb(133, 175, 255), rgb(187, 212, 255));
    }
    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100vw;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        height: 100vw;
        padding: 13% 30px;
    }

    div#formulario > h1 {
        font-size: 2.5em;
    }

    div#formulario > p {
        font-size: 1em;
        margin-bottom: 20px;
    }
}

/*  PARA DESKTOP E TELAS GRANDES  */ 
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(133, 175, 255), rgb(187, 212, 255));
    }

    section#login {
        width: 900px;
    }

    section#login > div#imagem {
        float: left;
        width: 55%;
        height: 100vw;
    }

    section#login > div#formulario {
        float: right;
        width: 45%;
        height: 100vw;
        padding: 10% 30px;
    }

    div#formulario > h1 {
        font-size: 2.5em;
    }

    div#formulario > p {
        font-size: 1em;
        margin-bottom: 20px;
    }
}